@import "global-style.scss";

form{
    background-color: rgba($color: #E0F2F1, $alpha: 0.8);
    border-radius: 5px;
    padding: 10px;
}

@media screen and (min-width: 768px){
    .form {
        width: 50%;
        font-family: 'Roboto', sans-serif;
        font-size: 13px;
        display: inline-block;
        box-sizing: border-box;
    }
    
}

.input[type=text]{
    width: 50%;
    margin: 4px 0;
    padding: 12px 15px;
    font-size: 13px;
    text-align: center;
}

.input[type=number]{
    width: 50%;
    margin: 8px 0;
    padding: 12px 15px;
    font-size: 13px;
    text-align: center;
}

.input[type=date]{
    width: 50%;
    margin: 8px 0;
    padding: 12px 15px;
    font-size: 13px;
    text-align: center;
}

.p{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}
.button{
    width: 25%;
    padding: 5px;
    background-color: #00897B;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    margin-top: 10px;
    color: #FFFFFF;

}

.geosuggestSytle{
    width: 50%;
    margin: 4px 0;
    padding: 12px 15px;
    font-size: 13px;
    text-align: center;
}