@import "global-style.scss";

table {
    background-color: rgba($color: #E0F2F1, $alpha: 0.8);
    border-radius: 5px;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    border-collapse: collapse;
    border-spacing: 0;
    display: inline-block;
   // width: 45%;
    box-sizing: border-box;
    margin-top: 10px;
}

th,td{
   // text-align: left;
    padding: 8px;
}

caption{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}

.total{
    text-align: center;
    font-weight: bold;
}
