


@media screen and (min-width: 768px){
    .divTitle{
        text-align: center;
   }

   .main{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-start;
    }

    .title{
        width: 100%;
        text-align: center;
    }
}




